@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Ubuntu", serif;
  }
}

@layer components {
  .leftTimelineBox {
    @apply relative left-[0%] top-9 mb-5 ml-8 flex min-h-40 max-w-[92%] flex-col flex-wrap items-end break-words rounded-md bg-primary p-5 text-primary-content after:absolute after:left-[-33px] after:top-3 after:z-10 after:h-2.5 after:w-2.5 after:animate-blink after:rounded-full after:border-2 after:border-secondary-content after:bg-secondary after:shadow-md after:shadow-secondary-dark after:ring-1 after:ring-secondary-dark medium:m-1 medium:mb-0 medium:ml-0 medium:w-[45%] medium:after:left-[109.5%] medium:after:h-4 medium:after:w-4;
  }

  .rightTimelineBox {
    @apply relative left-[0%] top-9 mb-5 ml-8 flex min-h-40 max-w-[92%] flex-col flex-wrap items-end break-words rounded-md border-2 border-border bg-foreground p-5 after:absolute after:left-[-35px] after:top-3 after:z-10 after:h-2.5 after:w-2.5 after:animate-blink after:rounded-full after:border-2 after:border-secondary-content after:bg-secondary after:shadow-md after:shadow-secondary-dark after:ring-1 after:ring-secondary-dark medium:left-[53%] medium:top-0 medium:m-1 medium:mb-0 medium:ml-0 medium:w-[45%] medium:after:left-[-8.4%] medium:after:h-4 medium:after:w-4;
  }
}

/* Hamburger Menu Button*/
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all o.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
